@{
    Layout = "_Layout";
}
<h2>Data Mahasiswa</h2>
<form class="navbar-search" action="/Home/Index" method="post">
    <div class="form-group">
        <input type="text" name="nim" class="form-control" placeholder="Pencarian NIM .... " aria-label="Search" aria-describedby="basic-addon2">
    </div>
</form>
<table class="table table-striped">
    <tr>
        <th>NIM</th>
        <th>Nama</th>
        <th>Alamat</th>
        <th>Email</th>
        <th>Telpon</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nim</td>
            <td>@item.Nama</td>
            <td>@item.Telpon</td>
            <td>@item.Email</td>
            <td>@item.Telpon</td>
        </tr>
    }
</table>